src/main/resources/xsd/cliente.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://dev.proxy/servicos"
           targetNamespace="http://dev.proxy/servicos" elementFormDefault="qualified">

    <!-- Estrutura para elemento de entrada do serviço de cadastro de cliente -->
    <xs:element name="criarClienteRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="cpfCnpj" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="criarClienteResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
