src/main/resources/xsd/cobranca.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://dev.proxy/servicos"
           targetNamespace="http://dev.proxy/servicos" elementFormDefault="qualified">

    <!-- Estrutura para elemento de entrada do serviço de cadastro de cobrança -->
    <xs:element name="gerarCobrancaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="customer" type="xs:string"/>
                <xs:element name="billingType" type="xs:string"/>
                <xs:element name="value" type="xs:double"/>
                <xs:element name="dueDate" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="gerarCobrancaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string"/>
                <xs:element name="customer" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
